@import url("https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Lobster&family=Oswald:wght@200&family=Press+Start+2P&family=Special+Elite&display=swap");

body {
    background-color: #8ECAE6;

}

h1 {
    text-align: right;
    background-color: #fac85b;
    padding-left: 100px;
    font-family: lobster;
    background-image: url(../media/testpela.png);
    background-repeat: no-repeat;
    background-size: contain;
}

h2 {
    font-family: oswald;
    text-align: center;
    text-decoration: underline;
}

p {
    font-family: roboto;
}

.buscador {
    margin: 20px;
}

.card-body {
    background-color: #fac85b;
}

footer {
    display: block;
    text-align: center;
    position: absolute;
    width: 100%;
    background-color: #FBFEF9;
}

#productosDin {
    margin-bottom: 20px;
}

.col-md-10 {
    background-color: #fac85b;
}

.col-md-1 img{
    width: 100%;
    
}